<table mat-table [dataSource]="dataTable" class="mat-elevation-z8">

  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ลำดับ </th>
    <td mat-cell *matCellDef="let tableData"> {{ tableData.id }} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> โทรศัพท์ </th>
    <td mat-cell *matCellDef="let tableData"> {{ tableData.name }} </td>
  </ng-container>

  <!-- Ram Column -->
  <ng-container matColumnDef="ram">
    <th mat-header-cell *matHeaderCellDef> Ram </th>
    <td mat-cell *matCellDef="let tableData"> {{ tableData.ram }} </td>
  </ng-container>

  <!-- Rom Column -->
  <ng-container matColumnDef="rom">
    <th mat-header-cell *matHeaderCellDef> ความจุ Rom </th>
    <td mat-cell *matCellDef="let tableData"> {{ tableData.rom }} </td>
  </ng-container>

  <!-- Year Column -->
  <ng-container matColumnDef="year">
    <th mat-header-cell *matHeaderCellDef> ปีที่จำหน่าย </th>
    <td mat-cell *matCellDef="let tableData"> {{ tableData.year }} </td>
  </ng-container>

  <!-- Price Column -->
  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef> ราคา </th>
    <td mat-cell *matCellDef="let tableData"> {{ tableData.price | number }} </td>
  </ng-container>

  <!-- Status Column -->
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef> สถานะ </th>
    <td mat-cell *matCellDef="let tableData"> {{ tableData.status }} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
